page-parciais-clubes {
    ion-header{
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        align-items: center;
        background: #fff;
    }

    ion-header ion-icon{
        font-size: 1.5em;
        padding: 5px 10px;
    }

    ion-card-content{
        display: flex;
        justify-content: space-between
    }

    div.parciais{
        display: flex;
        justify-content: space-between;       
    }

    div.parciais ion-list{
        width: 50%;
    }

    .last_update{
        display: block;
        padding: 5px;
        margin-bottom: 5px;
        border-bottom: solid thin #cccccc; 
        color: #999999;
        text-align: center;
        font-size: 0.9em;
    }
    

    div img{
        width: 45px;
        height: 45px;
        margin: 10px 0
    }

    strong{
        font-size: 1.2em;
        display: block;
    }

    div.placar{
        color : #666666;
        display: block;
        text-align: center;
    }
    
    .green{
        color: green;
        font-size: 0.7em !important;
    }

    .red{
        color: red;
        font-size: 0.7em !important;
    }

    .label-md{
        margin: 5px 8px 5px 0 !important;
        border-bottom: solid thin #f1f1f1 
    }
    
    .item-md h2{
        font-size: 0.8em !important;
    }


}
