<div class="formacao3-5-2">
    <div class="ataque">
        <div id="posicao_1">
           <img id="posicao_1" [src]="(time.clubes[escalacao.ataque[0].clube_id].escudos['45x45'] || './assets/imgs/escudo-jogadores.png')" title="Escolha um atacante">
           <span>{{ (escalacao.ataque[0].apelido || 'Apelido') }}</span> 
           <span>{{ 'C$ ' + ((escalacao.ataque[0].preco_num | number : '1.2-2') || '0.00') }}</span> 
        </div>
        <div id="posicao_2">
            <img id="posicao_2" [src]="(time.clubes[escalacao.ataque[1].clube_id].escudos['45x45'] || './assets/imgs/escudo-jogadores.png')" title="Escolha um atacante">
            <span>{{ (escalacao.ataque[1].apelido || 'Apelido') }}</span>
            <span>{{ 'C$ ' + ((escalacao.ataque[1].preco_num | number : '1.2-2') || '0.00') }}</span> 
        </div>
    </div>
    <div class="meio">
        <div id="posicao_1">
            <img id="posicao_1" [src]="(time.clubes[escalacao.meio[0].clube_id].escudos['45x45'] || './assets/imgs/escudo-jogadores.png')" title="Escolha um meio">
            <span>{{ (escalacao.meio[0].apelido || 'Apelido') }}</span> 
            <span>{{ 'C$ ' + ((escalacao.meio[0].preco_num | number : '1.2-2') || '0.00') }}</span>
        </div>
        <div id="posicao_2">
            <img id="posicao_2" [src]="(time.clubes[escalacao.meio[1].clube_id].escudos['45x45'] || './assets/imgs/escudo-jogadores.png')" title="Escolha um meio">
            <span>{{ (escalacao.meio[1].apelido || 'Apelido') }}</span>
            <span>{{ 'C$ ' + ((escalacao.meio[1].preco_num | number : '1.2-2') || '0.00') }}</span> 
        </div> 
        <div id="posicao_3">
            <img id="posicao_3" [src]="(time.clubes[escalacao.meio[2].clube_id].escudos['45x45'] || './assets/imgs/escudo-jogadores.png')" title="Escolha um meio">
            <span>{{ (escalacao.meio[2].apelido || 'Apelido') }}</span>
            <span>{{ 'C$ ' + ((escalacao.meio[2].preco_num | number : '1.2-2') || '0.00') }}</span> 
        </div> 
        <div id="posicao_4">
            <img id="posicao_4" [src]="(time.clubes[escalacao.meio[3].clube_id].escudos['45x45'] || './assets/imgs/escudo-jogadores.png')" title="Escolha um meio">
            <span>{{ (escalacao.meio[3].apelido || 'Apelido') }}</span>
            <span>{{ 'C$ ' + ((escalacao.meio[3].preco_num | number : '1.2-2') || '0.00') }}</span>
        </div>
        <div id="posicao_5">
            <img id="posicao_5" [src]="(time.clubes[escalacao.meio[4].clube_id].escudos['45x45'] || './assets/imgs/escudo-jogadores.png')" title="Escolha um meio">
            <span>{{ (escalacao.meio[4].apelido || 'Apelido') }}</span>
            <span>{{ 'C$ ' + ((escalacao.meio[4].preco_num | number : '1.2-2') || '0.00') }}</span>
        </div>
    </div>
    <div class="zagueiro">
        <div id="posicao_1">
            <img id="posicao_1" [src]="(time.clubes[escalacao.zagueiro[0].clube_id].escudos['45x45'] || './assets/imgs/escudo-jogadores.png')" title="Escolha um zagueiro">
            <span>{{ (escalacao.zagueiro[0].apelido || 'Apelido') }}</span>
            <span>{{ 'C$ ' + ((escalacao.zagueiro[0].preco_num | number : '1.2-2') || '0.00') }}</span> 
        </div>
        <div id="posicao_2">
            <img id="posicao_2" [src]="(time.clubes[escalacao.zagueiro[1].clube_id].escudos['45x45'] || './assets/imgs/escudo-jogadores.png')" title="Escolha um zagueiro">
            <span>{{ (escalacao.zagueiro[1].apelido || 'Apelido') }}</span>
            <span>{{ 'C$ ' + ((escalacao.zagueiro[1].preco_num | number : '1.2-2') || '0.00') }}</span> 
        </div>
        <div id="posicao_3">
            <img id="posicao_3" [src]="(time.clubes[escalacao.zagueiro[2].clube_id].escudos['45x45'] || './assets/imgs/escudo-jogadores.png')" title="Escolha um zagueiro">
            <span>{{ (escalacao.zagueiro[2].apelido || 'Apelido') }}</span>
            <span>{{ 'C$ ' + ((escalacao.zagueiro[2].preco_num | number : '1.2-2') || '0.00') }}</span> 
        </div>            
    </div>
    <div class="goleiro">
        <div id="posicao_1">
            <img id="posicao_1" [src]="(time.clubes[escalacao.goleiro[0].clube_id].escudos['45x45'] || './assets/imgs/escudo-jogadores.png')" title="Escolha um goleiro">
            <span>{{ (escalacao.goleiro[0].apelido || 'Apelido') }}</span>
            <span>{{ 'C$ ' + ((escalacao.goleiro[0].preco_num | number : '1.2-2') || '0.00') }}</span> 
        </div>
    </div>        
    <div class="tecnico">
        <div id="posicao_1">
            <img id="posicao_1" [src]="(time.clubes[escalacao.tecnico[0].clube_id].escudos['45x45'] || './assets/imgs/escudo-jogadores.png')" title="Escolha um tecnico">
            <span>{{ (escalacao.tecnico[0].apelido || 'Apelido') }}</span>
            <span>{{ 'C$ ' + ((escalacao.tecnico[0].preco_num | number : '1.2-2') || '0.00') }}</span> 
        </div>
    </div>
</div>
