formacao3-5-2 {   
    
    /* :::: FORMAÇÃO 3-5-2 :::: */

    form.formacao3-5-2{        
        position: relative;
        top: 30px;
        width: 288px;
        height: 402px;
        margin: 0 auto;
    }

    .improvavel{
        border: solid 2px red;
        border-radius: 50%;
    }

    /* :::: ATAQUE :::: */

    form.formacao3-5-2 div.ataque{        
        position: relative;
        top: 10px;
        width: 100%;
        height: 80px;
    }    
    
    form.formacao3-5-2 div.ataque div{
        position: absolute; 
        width: 144px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }    

    form.formacao3-5-2 div.ataque div#posicao_0{
        left: 0;
    }

    form.formacao3-5-2 div.ataque div#posicao_1{
        left: 144px;
    }

    /* :::: MEIO :::: */

    form.formacao3-5-2 div.meio{        
        position: relative;
        top: 25px;
        width: 100%;
        height: 80px;
    }    
    
    form.formacao3-5-2 div.meio div{
        position: absolute;        
        width: 72px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }    

    form.formacao3-5-2 div.meio div#posicao_0{
        left: 0;
    }

    form.formacao3-5-2 div.meio div#posicao_1{
        top: 35px;
        left: 57.6px;
    }

    form.formacao3-5-2 div.meio div#posicao_2{
        left: 115.2px;
    } 

    form.formacao3-5-2 div.meio div#posicao_3{
        top: 35px;
        left: 172.8px;
    } 

    form.formacao3-5-2 div.meio div#posicao_4{
        left: 230.4px;
    } 

    /* :::: ZAGUEIRO :::: */

    form.formacao3-5-2 div.zagueiro{        
        position: relative;
        top: 90px;
        width: 100%;
        height: 80px;
    }    
    
    form.formacao3-5-2 div.zagueiro div{
        position: absolute;        
        width: 96px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }    

    form.formacao3-5-2 div.zagueiro div#posicao_0{
        left: 0;
    }

    form.formacao3-5-2 div.zagueiro div#posicao_1{
        left: 96px;
    }

    form.formacao3-5-2 div.zagueiro div#posicao_2{
        left: 192px;
    }

    /* :::: GOLEIRO :::: */

    form.formacao3-5-2 div.goleiro{        
        position: relative;
        top: 85px;
        width: 96px;
        height: 70px;
        left: 96px;
    }    
    
    form.formacao3-5-2 div.goleiro div{
        position: absolute;        
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }  

    /* :::: TECNICO :::: */

    form.formacao3-5-2 div.tecnico{        
        position: relative;
        top: 30px;
        width: 96px;
        height: 70px;
        left: 0;
    }    
    
    form.formacao3-5-2 div.tecnico div{
        position: absolute;        
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    } 
    
}
