<div class="formacao3-4-3">
    <div class="ataque">
        <div *ngFor="let ataque of escalacao.ataque let i = index" id="posicao_{{ i }}" (click)="seleciona(ataque, 5)">
           <img id="posicao_{{ i }}" [src]="(time.clubes[ataque?.clube_id]?.escudos['45x45'] || './assets/imgs/escudo-jogadores.png')">
           <span>{{ (ataque?.apelido || 'Apelido') }}</span> 
           <span>{{ 'C$ ' + ((ataque?.preco_num | number : '1.2-2') || '0.00') }}</span> 
        </div>
    </div>
    <div class="meio">
        <div *ngFor="let meio of escalacao.meio let i = index" id="posicao_{{ i }}" (click)="seleciona(meio, 4)">
            <img id="posicao_{{ i }}" [src]="(time.clubes[meio?.clube_id]?.escudos['45x45'] || './assets/imgs/escudo-jogadores.png')">
            <span>{{ (meio?.apelido || 'Apelido') }}</span> 
            <span>{{ 'C$ ' + ((meio?.preco_num | number : '1.2-2') || '0.00') }}</span> 
        </div>
    </div>
    <div class="zagueiro">
        <div *ngFor="let zagueiro of escalacao.zagueiro let i = index" id="posicao_{{ i }}" (click)="seleciona(zagueiro, 3)">
            <img id="posicao_{{ i }}" [src]="(time.clubes[zagueiro?.clube_id]?.escudos['45x45'] || './assets/imgs/escudo-jogadores.png')">
            <span>{{ (zagueiro?.apelido || 'Apelido') }}</span> 
            <span>{{ 'C$ ' + ((zagueiro?.preco_num | number : '1.2-2') || '0.00') }}</span> 
        </div>            
    </div>
    <div class="goleiro">
        <div *ngFor="let goleiro of escalacao.goleiro let i = index" id="posicao_{{ i }}" (click)="seleciona(goleiro, 1)">
            <img id="posicao_{{ i }}" [src]="(time.clubes[goleiro?.clube_id]?.escudos['45x45'] || './assets/imgs/escudo-jogadores.png')">
            <span>{{ (goleiro?.apelido || 'Apelido') }}</span> 
            <span>{{ 'C$ ' + ((goleiro?.preco_num | number : '1.2-2') || '0.00') }}</span> 
        </div>
    </div>        
    <div class="tecnico">
        <div *ngFor="let tecnico of escalacao.tecnico let i = index" id="posicao_{{ i }}" (click)="seleciona(tecnico, 6)">
            <img id="posicao_{{ i }}" [src]="(time.clubes[tecnico?.clube_id]?.escudos['45x45'] || './assets/imgs/escudo-jogadores.png')">
            <span>{{ (tecnico?.apelido || 'Apelido') }}</span> 
            <span>{{ 'C$ ' + ((tecnico?.preco_num | number : '1.2-2') || '0.00') }}</span> 
        </div>
    </div>
</div>
