formacao3-4-3 {    
    
    /* :::: FORMAÇÃO 3-4-3 :::: */

    div.formacao3-4-3{        
        position: relative;
        top: 30px;
        width: 288px;
        height: 402px;
        margin: 0 auto;
    }

    /* :::: ATAQUE :::: */

    div.formacao3-4-3 div.ataque{        
        position: relative;
        top: 10px;
        width: 100%;
        height: 80px;
    }    
    
    div.formacao3-4-3 div.ataque div{
        position: absolute;        
        width: 96px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }    

    div.formacao3-4-3 div.ataque div#posicao_0{
        left: 0;
    }

    div.formacao3-4-3 div.ataque div#posicao_1{
        left: 96px;
    }

    div.formacao3-4-3 div.ataque div#posicao_2{
        left: 192px;
    }

    /* :::: MEIO :::: */

    div.formacao3-4-3 div.meio{        
        position: relative;
        top: 40px;
        width: 100%;
        height: 80px;
    }    
    
    div.formacao3-4-3 div.meio div{
        position: absolute;        
        width: 72px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }    

    div.formacao3-4-3 div.meio div#posicao_0{
        left: 0;
    }

    div.formacao3-4-3 div.meio div#posicao_1{
        left: 72px;
    }

    div.formacao3-4-3 div.meio div#posicao_2{
        left: 144px;
    }    

    div.formacao3-4-3 div.meio div#posicao_3{
        left: 216px;
    }

    /* :::: ZAGUEIRO :::: */

    div.formacao3-4-3 div.zagueiro{        
        position: relative;
        top: 70px;
        width: 100%;
        height: 80px;
    }    
    
    div.formacao3-4-3 div.zagueiro div{
        position: absolute;        
        width: 96px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }    

    div.formacao3-4-3 div.zagueiro div#posicao_0{
        left: 0;
    }

    div.formacao3-4-3 div.zagueiro div#posicao_1{
        left: 96px;
    }

    div.formacao3-4-3 div.zagueiro div#posicao_2{
        left: 192px;
    } 

    /* :::: GOLEIRO :::: */

    div.formacao3-4-3 div.goleiro{        
        position: relative;
        top: 90px;
        width: 96px;
        height: 70px;
        left: 96px;
    }    
    
    div.formacao3-4-3 div.goleiro div{
        position: absolute;        
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }  

    /* :::: TECNICO :::: */

    div.formacao3-4-3 div.tecnico{        
        position: relative;
        top: 27px;
        width: 96px;
        height: 70px;
        left: 0;
    }    
    
    div.formacao3-4-3 div.tecnico div{
        position: absolute;        
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }  
}
