page-parciais-jogadores {
    .item-md ion-avatar img{
        border-radius: 0 !important;
    }

    ion-list{
        margin-top: 5px !important;
    }

    p.mensagem{
        display: block;
        padding: 50px 10px;
        color: #999999;
        text-align: center
    }
    
    .last_update{
        display: block;
        padding: 5px;
        margin-bottom: 5px;
        border-bottom: solid thin #cccccc; 
        color: #999999;
        text-align: center;
        font-size: 0.9em;
    }

    .label-md {
        margin: 10px 8px 10px 0;
    }

    span{
        font-size: 0.8em;
    }

    .green{
        color: green;
    }

    .red{
        color: red;
    }
}
