formacao4-5-1 {
    /* :::: FORMAÇÃO 4-5-1 :::: */

    div.formacao4-5-1{        
        position: relative;
        top: 30px;
        width: 288px;
        height: 402px;
        margin: 0 auto;
    }

    /* :::: ATAQUE :::: */

    div.formacao4-5-1 div.ataque{        
        position: relative;
        top: 10px;
        width: 100%;
        height: 80px;
    }    
    
    div.formacao4-5-1 div.ataque div{
        position: absolute;        
        width: 96px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }    

    div.formacao4-5-1 div.ataque div#posicao_1{
        left: 96px;
    }

    /* :::: MEIO :::: */

    div.formacao4-5-1 div.meio{        
        position: relative;
        top: 25px;
        width: 100%;
        height: 80px;
    }    
    
    div.formacao4-5-1 div.meio div{
        position: absolute;        
        width: 72px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    
    div.formacao4-5-1 div.meio span{
        width: 55px;         
    }

    div.formacao4-5-1 div.meio div#posicao_1{
        left: 0;
    }

    div.formacao4-5-1 div.meio div#posicao_2{
        top: 35px;
        left: 57.6px;
    }

    div.formacao4-5-1 div.meio div#posicao_3{
        left: 115.2px;
    }    

    div.formacao4-5-1 div.meio div#posicao_4{
        top: 35px;
        left: 172.8px;
    }   

    div.formacao4-5-1 div.meio div#posicao_5{
        left: 230.4px;
    }

    /* :::: LATERAL :::: */

    div.formacao4-5-1 div.lateral{        
        position: relative;
        top: 30px;
        width: 100%;
        height: 80px;
    }    
    
    div.formacao4-5-1 div.lateral div{
        position: absolute;        
        width: 72px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }    

    div.formacao4-5-1 div.lateral div#posicao_1{
        left: 0;
    }

    div.formacao4-5-1 div.lateral div#posicao_2{
        right: 0;
    }

    /* :::: ZAGUEIRO :::: */

    div.formacao4-5-1 div.zagueiro{        
        position: relative;
        top: 15px;
        width: 100%;
        height: 80px;
    }    
    
    div.formacao4-5-1 div.zagueiro div{
        position: absolute;        
        width: 96px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }    

    div.formacao4-5-1 div.zagueiro div#posicao_1{
        left: 48px;
    }

    div.formacao4-5-1 div.zagueiro div#posicao_2{
        right: 48px;
    }

    /* :::: GOLEIRO :::: */

    div.formacao4-5-1 div.goleiro{        
        position: relative;
        top: 5px;
        width: 96px;
        height: 70px;
        left: 96px;
    }    
    
    div.formacao4-5-1 div.goleiro div{
        position: absolute;        
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }  

    /* :::: TECNICO :::: */

    div.formacao4-5-1 div.tecnico{        
        position: relative;
        top: -53px;
        width: 96px;
        height: 70px;
        left: 0;
    }    
    
    div.formacao4-5-1 div.tecnico div{
        position: absolute;        
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    
}
