page-parciais-ligas {
    .capitalize{
        text-transform: capitalize;
    }

    .item-md h2{
        font-size: 1.4rem;
    }

    .item-md p{
        font-size: 1.2rem;
    }

    .list-md{
        margin: -1px 0 0;
    }
}
