page-meu-time {
    .item-md ion-avatar img{
        border-radius: 0 !important;
    }

    .item-md h2{
        font-size: 1.4rem;
    }

    .item-md ion-avatar img.end{
        margin-top: 7px;
        width: 25px !important;
        height: 25px !important;
    }

    .item-md.item-block .item-inner{
        padding-right: 0
    }
    
    .green{
        color: green;
        font-size: 0.8em;
    }

    .red{
        color: red;
        font-size: 0.8em;
    }

    ion-note{
        margin: 0 !important;
        font-size: 1.4rem;
    }
}
