<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>historico</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>    
      <ion-card-content class="formulario">
          <select [(ngModel)]="rodada" name="rodada" class="rodada">
            <option [value]="val" *ngFor="let val of rodadas">{{ val + 'ª Rodada' }}</option>
          </select>
          <button (click)="buscar(time, rodada)" class="col-20">Buscar</button>
      </ion-card-content> 
    </ion-card>
    <ion-card>    
        <ion-card-content [hidden]="!data">
          <strong class="nome">{{ nome }}</strong>
          <span class="ano">Participa desde {{ ano }}</span>
          <img class="foto" src="{{ foto_perfil }}" alt="">
          <span class="pontuacao">Sua pontuação: {{ pontos }}</span>
        </ion-card-content> 
    </ion-card>
    <ion-card>    
        <ion-card-content [hidden]="!data">
            <ion-list>
                <ion-item *ngFor="let atleta of atletas">
                  <ion-avatar item-start>
                    <img src="{{ atleta.escudo['45x45'] }}">
                  </ion-avatar>
                  <h2>{{ (atleta.posicao_id | posicaoJogador) + ' - ' + atleta.apelido }}</h2>
                  <p>Pontos: <strong>{{ atleta.pontos_num }}</strong></p>
                  <span>{{ atleta.scout }}</span>
                </ion-item>
              </ion-list>
        </ion-card-content> 
    </ion-card>    
</ion-content>
