page-historico {
    ion-header{
        padding: 2px 10px;
    }

    .nome, .ano, .pontuacao {
        display: block;
        text-align: center;        
    }
    
    .nome{
        font-size: 1.4em;
        font-weight: bold;
    }

    .item-md.item-block .item-inner{
        border: none !important;
    }

    .foto {
        margin: 15px auto;
        width: 50%;
    }

    .rodada {
        width: 95%;
        padding: 10px 5px;
        margin: 10px 10px;
        border: solid thin #cccccc
    }

    .item-md h2, p{
        font-size: 1.3rem;
    }

    .item-md.item-block .item-inner{
        padding-right: 0 !important; 
    }

    .item-md ion-avatar img{
        border-radius: 0 !important;       
    }

    .item-md ion-avatar img.end{
        width: 25px !important;
        height: 25px !important;
    }

    .item-md{
        padding-left: 0 !important;
    }

    .green{
        color: green;
        font-size: 0.8em;
    }

    .red{
        color: red;
        font-size: 0.8em;
    }
    
}
