page-partidas {
    ion-card-content{
        display: flex;
        justify-content: space-between
    }
    

    div img{
        width: 45px;
        height: 45px;
        margin: 10px 0
    }

    strong{
        font-size: 1.2em;
        display: block;
    }

   div{
        color : #666666;
        display: block;
        text-align: center;
    }
}
