page-partidas {
    ion-header{
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        align-items: center;
        background: #fff;
    }

    ion-header ion-icon{
        font-size: 1.5em;
        padding: 5px 10px;
    }

    ion-card-content{
        display: flex;
        justify-content: space-between
    }
    

    div img{
        width: 45px;
        height: 45px;
        margin: 10px 0
    }

    strong{
        font-size: 1.2em;
        display: block;
    }

   div{
        color : #666666;
        display: block;
        text-align: center;
    }
}
