page-campinho {
    ion-header{
        padding: 7px 5px 5px 5px;
        display: flex;
        justify-content: space-between;
        box-shadow: 5px 10px 15px #f1f1f1;
    }

    ion-header span{
        font-size: 0.8em;
        color: #666666;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ion-icon{
        margin-right: 10px
    }

    ion-card{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px
    }

    .button-md{
        font-size: 1.2rem;
        padding: 0 20px
    }

    .item-block{
        width: 85%;
    }

    select{
        padding: 7.5px;
        width: 40%;
        outline: none;
        background: #fff;
    }

    div.campinho{
        background: url('../assets/imgs/campinho.svg') center center no-repeat;
        background-size: contain;
        height: 484px;
        width: 330px;
        transition: all .6s ease;
        position: relative;
        margin: 0 auto;
    } 
    
    div.campinho img{
        margin-bottom: 7px; 
        width: 32px;
        height: 32px;
        cursor: pointer;
        transition-duration: 0.3s;
    }

     div.campinho img:hover{
        transform: scale(1.2)
    }

    div.campinho span{
        color: #f1f1f1;
        font-size: 0.7em;
        overflow: hidden;
        text-overflow: ellipsis;         
        white-space: nowrap;
        width: 70px; 
        text-align: center;       
    }
}
