page-nacional {
    ion-content div{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    img{
        width: 50%;
        margin: 15px auto !important;
    }

    button{
        width: 40%;
        margin: 15px auto !important;
    }
}
