<ion-item-group>
  <ion-item-divider color="light">Scouts ataque</ion-item-divider>
  <ion-item>G - Gol <ion-note item-end="" class="note note-md green">8.0</ion-note></ion-item>
  <ion-item>A - Assistência <ion-note item-end="" class="note note-md green">5.0</ion-note></ion-item>
  <ion-item>FT - Fin. na trave <ion-note item-end="" class="note note-md green">3.0</ion-note></ion-item>
  <ion-item>FD - Fin. defendida <ion-note item-end="" class="note note-md green">1.2</ion-note></ion-item>
  <ion-item>FF - Fin. para fora <ion-note item-end="" class="note note-md green">0.8</ion-note></ion-item>
  <ion-item>FS - Falta sofrida <ion-note item-end="" class="note note-md green">0.5</ion-note></ion-item>
  <ion-item>PP - Pênalti perdido <ion-note item-end="" class="note note-md red">-4.0</ion-note></ion-item>
  <ion-item>I - Impedimento <ion-note item-end="" class="note note-md red">-0.5</ion-note></ion-item>
  <ion-item>PE - Passe errado <ion-note item-end="" class="note note-md red">-0.3</ion-note></ion-item>
</ion-item-group>
<ion-item-group>
    <ion-item-divider color="light">Scouts defesa</ion-item-divider>
    <ion-item>SG - Sem sofrer gol <ion-note item-end="" class="note note-md green">5.0</ion-note></ion-item>
    <ion-item>DP - Defesa de pênalti <ion-note item-end="" class="note note-md green">7.0</ion-note></ion-item>
    <ion-item>DD - Defesa difícil <ion-note item-end="" class="note note-md green">3.0</ion-note></ion-item>
    <ion-item>RB - Roubo de bola <ion-note item-end="" class="note note-md green">1.5</ion-note></ion-item>
    <ion-item>GC - Gol contra <ion-note item-end="" class="note note-md red">-5.0</ion-note></ion-item>
    <ion-item>CV - Cartão vermelho <ion-note item-end="" class="note note-md red">-5.0</ion-note></ion-item>
    <ion-item>CA - Cartão amarelo <ion-note item-end="" class="note note-md red">-2.0</ion-note></ion-item>
    <ion-item>GS - Gol sofrido <ion-note item-end="" class="note note-md red">-2.0</ion-note></ion-item>
    <ion-item>FC - Falta cometida <ion-note item-end="" class="note note-md red">-0.5</ion-note></ion-item>
  </ion-item-group>
