page-modal-destaque {
    .destaque_escudo{
        width: 50%;
        margin: 15px auto;
    }

    .trofeu {
        color: #ffcc00;
        display: block;
        margin-bottom: 10px;
        font-size: 2em;
    }
}
