<ion-content>
  <ion-list>
      <ion-list>
        <ion-item-group>
          <ion-item-divider color="white">ESTADOS</ion-item-divider>
          
          <ion-item>
            <ion-avatar item-start>
                <img src="./assets/imgs/status_jogador/provavel.png">
            </ion-avatar>
            <ion-label>Provável</ion-label>
            <ion-toggle [(ngModel)]="provavel"></ion-toggle>
          </ion-item>
        
          <ion-item>
            <ion-avatar item-start>
                <img src="./assets/imgs/status_jogador/duvida.png">
            </ion-avatar>
            <ion-label>Dúvida</ion-label>
            <ion-toggle [(ngModel)]="duvida"></ion-toggle>
          </ion-item>
        
          <ion-item>
            <ion-avatar item-start>
                <img src="./assets/imgs/status_jogador/suspenso.png">
            </ion-avatar>
            <ion-label>Suspenso</ion-label>
            <ion-toggle [(ngModel)]="suspenso"></ion-toggle>
          </ion-item>
          
          <ion-item>
            <ion-avatar item-start>
                <img src="./assets/imgs/status_jogador/contudido.png">
            </ion-avatar>
            <ion-label>Contudido</ion-label>
            <ion-toggle [(ngModel)]="contudido"></ion-toggle>
          </ion-item>
        </ion-item-group> 
        
        <ion-item-group>
            <ion-item-divider color="white">PREÇOS C$</ion-item-divider>
            <div class="precos">
                <button ion-button color="dark" outline>0 - 5</button>
                <button ion-button color="dark" outline>5 - 10</button>
                <button ion-button color="dark" outline>10 - 15</button>
                <button ion-button color="dark" outline>15 - 20</button>
                <button ion-button color="dark" outline>20 - 25</button>
                <button ion-button color="dark" outline>+5</button>
            </div>
        </ion-item-group>
        <ion-item-group>
            <ion-item-divider color="white">TIMES</ion-item-divider>
            <ion-list radio-group>
                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/organizacoes/2018/01/24/AmericaMG-45.png">
                  </ion-avatar>
                  <ion-label>América</ion-label>
                  <ion-radio value="327"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2017/11/23/Atletico-Mineiro-escudo45px.png">
                  </ion-avatar>
                  <ion-label>Atlético-MG</ion-label>
                  <ion-radio value="282"></ion-radio>
                </ion-item>
                
                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2015/06/24/atletico-pr_2015_45.png">
                  </ion-avatar>
                  <ion-label>Atlético-PR</ion-label>
                  <ion-radio value="293"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2013/12/16/bahia_45x45.png">
                  </ion-avatar>
                  <ion-label>Bahia</ion-label>
                  <ion-radio value="265"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2013/12/16/botafogo_45x45.png">
                  </ion-avatar>
                  <ion-label>Botafogo</ion-label>
                  <ion-radio value="263"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2013/12/16/ceara_45x45.png">
                  </ion-avatar>
                  <ion-label>Ceará</ion-label>
                  <ion-radio value="354"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2015/08/03/Escudo-Chape-145.png">
                  </ion-avatar>
                  <ion-label>Chapecoense</ion-label>
                  <ion-radio value="315"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2013/12/16/corinthians_45x45.png">
                  </ion-avatar>
                  <ion-label>Corinthians</ion-label>
                  <ion-radio value="264"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2015/04/29/cruzeiro_45.png">
                  </ion-avatar>
                  <ion-label>Cruzeiro</ion-label>
                  <ion-radio value="283"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2013/12/16/flamengo_45x45.png">
                  </ion-avatar>
                  <ion-label>Flamengo</ion-label>
                  <ion-radio value="262"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2015/07/21/fluminense_45x45.png">
                  </ion-avatar>
                  <ion-label>Fluminense</ion-label>
                  <ion-radio value="266"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2013/12/16/gremio_45x45.png">
                  </ion-avatar>
                  <ion-label>Grêmio</ion-label>
                  <ion-radio value="284"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2016/05/03/inter45.png">
                  </ion-avatar>
                  <ion-label>Internacional</ion-label>
                  <ion-radio value="285"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2013/12/16/palmeiras_45x45.png">
                  </ion-avatar>
                  <ion-label>Palmeiras</ion-label>
                  <ion-radio value="275"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2014/04/13/parana_45x45.png">
                  </ion-avatar>
                  <ion-label>Paraná</ion-label>
                  <ion-radio value="289"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2013/12/16/santos_45x45.png">
                  </ion-avatar>
                  <ion-label>Santos</ion-label>
                  <ion-radio value="277"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2015/07/21/sport45.png">
                  </ion-avatar>
                  <ion-label>Sport</ion-label>
                  <ion-radio value="292"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2013/12/16/sao_paulo_45x45.png">
                  </ion-avatar>
                  <ion-label>São Paulo</ion-label>
                  <ion-radio value="276"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2016/07/29/Vasco-45.png">
                  </ion-avatar>
                  <ion-label>Vasco</ion-label>
                  <ion-radio value="267"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2013/12/16/vitoria_45x45.png">
                  </ion-avatar>
                  <ion-label>Vitória</ion-label>
                  <ion-radio value="287"></ion-radio>
                </ion-item>

            </ion-list>
        </ion-item-group>
      </ion-list>
      <div class="botoes">
        <button ion-button>Limpar</button>
        <button ion-button>Filtrar</button>
      </div>
      
    <!-- <ion-item>
      <ion-label>Status</ion-label>
      <ion-select [(ngModel)]="status">
        <ion-option value="">Todos</ion-option>
        <ion-option value="7">Provavél</ion-option>
        <ion-option value="2">Dúvida</ion-option>
        <ion-option value="3">Suspenso</ion-option>
        <ion-option value="5">Lesionado</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Preço</ion-label>
      <ion-select [(ngModel)]="preco">
        <ion-option value="">Todos</ion-option>
        <ion-option value="7">C$ 5 a Baixo</ion-option>
        <ion-option value="2">C$ 5 e 10</ion-option>
        <ion-option value="3">C$ 10 e 15</ion-option>
        <ion-option value="5">C$ 15 e 20</ion-option>
        <ion-option value="5">C$ 20 a Cima</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Preço</ion-label>
      <ion-select [(ngModel)]="preco">
        <ion-option value="">Todos</ion-option>
        <ion-option value="7">C$ 5 a Baixo</ion-option>
        <ion-option value="2">C$ 5 e 10</ion-option>
        <ion-option value="3">C$ 10 e 15</ion-option>
        <ion-option value="5">C$ 15 e 20</ion-option>
        <ion-option value="5">C$ 20 a Cima</ion-option>
      </ion-select>
    </ion-item> -->
  </ion-list>
</ion-content>
