<ion-content>
  <ion-list>
      <ion-list>
        <ion-item-group>
          <ion-item-divider color="white">ESTADOS</ion-item-divider>
          
          <ion-item>
            <ion-avatar item-start>
                <img src="./assets/imgs/status_jogador/provavel.png">
            </ion-avatar>
            <ion-label>Provável</ion-label>
            <ion-toggle (ionChange)="provavel ? filter.status_id = 7 : filter.status_id = null" [(ngModel)]="provavel"></ion-toggle>
          </ion-item>
        
          <ion-item>
            <ion-avatar item-start>
                <img src="./assets/imgs/status_jogador/duvida.png">
            </ion-avatar>
            <ion-label>Dúvida</ion-label>
            <ion-toggle (ionChange)="duvida ? filter.status_id = 2 : filter.status_id = null" [(ngModel)]="duvida"></ion-toggle>
          </ion-item>
        
          <ion-item>
            <ion-avatar item-start>
                <img src="./assets/imgs/status_jogador/suspenso.png">
            </ion-avatar>
            <ion-label>Suspenso</ion-label>
            <ion-toggle (ionChange)="suspenso ? filter.status_id = 3 : filter.status_id = null" [(ngModel)]="suspenso"></ion-toggle>
          </ion-item>
          
          <ion-item>
            <ion-avatar item-start>
                <img src="./assets/imgs/status_jogador/contudido.png">
            </ion-avatar>
            <ion-label>Contudido</ion-label>
            <ion-toggle (ionChange)="contudido ? filter.status_id = 5 : filter.status_id = null" [(ngModel)]="contudido"></ion-toggle>
          </ion-item>
        </ion-item-group>

        <hr />         
          <ion-item>
            <ion-label>POSIÇÃO</ion-label>
            <ion-select [(ngModel)]="filter.posicao_id">
              <ion-option value="0">Todos</ion-option>
              <ion-option value="1">Goleiro</ion-option>
              <ion-option value="2">Lateral</ion-option>
              <ion-option value="3">Zagueiro</ion-option>
              <ion-option value="4">Meia</ion-option>
              <ion-option value="5">Atacante</ion-option>
              <ion-option value="6">Técnico</ion-option>
            </ion-select>
          </ion-item>
        
        <ion-item-group>
            <ion-item-divider color="white">PREÇOS C$</ion-item-divider>
            <div class="precos">
                <button ion-button [ngClass]="filter.preco_num == 5 ? 'btnPreenchido' : null" (click)="filter.preco_num = 5" color="dark" outline>0 - 5</button>
                <button ion-button [ngClass]="filter.preco_num == 10 ? 'btnPreenchido' : null" (click)="filter.preco_num = 10" color="dark" outline>5 - 10</button>
                <button ion-button [ngClass]="filter.preco_num == 15 ? 'btnPreenchido' : null" (click)="filter.preco_num = 15" color="dark" outline>10 - 15</button>
                <button ion-button [ngClass]="filter.preco_num == 20 ? 'btnPreenchido' : null" (click)="filter.preco_num = 20" color="dark" outline>15 - 20</button>
                <button ion-button [ngClass]="filter.preco_num == 25 ? 'btnPreenchido' : null" (click)="filter.preco_num = 25" color="dark" outline>20 - 25</button>
                <button ion-button [ngClass]="filter.preco_num == 30 ? 'btnPreenchido' : null" (click)="filter.preco_num = 30" color="dark" outline>+25</button>
            </div>
        </ion-item-group>
        <ion-item-group>
            <ion-item-divider color="white">TIMES</ion-item-divider>
            <ion-list radio-group [(ngModel)]="filter.clube_id">
                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/organizacoes/2018/01/24/AmericaMG-45.png">
                  </ion-avatar>
                  <ion-label>América</ion-label>
                  <ion-radio value="327"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2017/11/23/Atletico-Mineiro-escudo45px.png">
                  </ion-avatar>
                  <ion-label>Atlético-MG</ion-label>
                  <ion-radio value="282"></ion-radio>
                </ion-item>
                
                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2015/06/24/atletico-pr_2015_45.png">
                  </ion-avatar>
                  <ion-label>Atlético-PR</ion-label>
                  <ion-radio value="293"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2013/12/16/bahia_45x45.png">
                  </ion-avatar>
                  <ion-label>Bahia</ion-label>
                  <ion-radio value="265"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2013/12/16/botafogo_45x45.png">
                  </ion-avatar>
                  <ion-label>Botafogo</ion-label>
                  <ion-radio value="263"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2013/12/16/ceara_45x45.png">
                  </ion-avatar>
                  <ion-label>Ceará</ion-label>
                  <ion-radio value="354"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2015/08/03/Escudo-Chape-145.png">
                  </ion-avatar>
                  <ion-label>Chapecoense</ion-label>
                  <ion-radio value="315"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2013/12/16/corinthians_45x45.png">
                  </ion-avatar>
                  <ion-label>Corinthians</ion-label>
                  <ion-radio value="264"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2015/04/29/cruzeiro_45.png">
                  </ion-avatar>
                  <ion-label>Cruzeiro</ion-label>
                  <ion-radio value="283"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2013/12/16/flamengo_45x45.png">
                  </ion-avatar>
                  <ion-label>Flamengo</ion-label>
                  <ion-radio value="262"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2015/07/21/fluminense_45x45.png">
                  </ion-avatar>
                  <ion-label>Fluminense</ion-label>
                  <ion-radio value="266"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2013/12/16/gremio_45x45.png">
                  </ion-avatar>
                  <ion-label>Grêmio</ion-label>
                  <ion-radio value="284"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2016/05/03/inter45.png">
                  </ion-avatar>
                  <ion-label>Internacional</ion-label>
                  <ion-radio value="285"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2013/12/16/palmeiras_45x45.png">
                  </ion-avatar>
                  <ion-label>Palmeiras</ion-label>
                  <ion-radio value="275"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2014/04/13/parana_45x45.png">
                  </ion-avatar>
                  <ion-label>Paraná</ion-label>
                  <ion-radio value="289"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2013/12/16/santos_45x45.png">
                  </ion-avatar>
                  <ion-label>Santos</ion-label>
                  <ion-radio value="277"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2015/07/21/sport45.png">
                  </ion-avatar>
                  <ion-label>Sport</ion-label>
                  <ion-radio value="292"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2013/12/16/sao_paulo_45x45.png">
                  </ion-avatar>
                  <ion-label>São Paulo</ion-label>
                  <ion-radio value="276"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2016/07/29/Vasco-45.png">
                  </ion-avatar>
                  <ion-label>Vasco</ion-label>
                  <ion-radio value="267"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-avatar item-start>
                      <img src="https://s.glbimg.com/es/sde/f/equipes/2013/12/16/vitoria_45x45.png">
                  </ion-avatar>
                  <ion-label>Vitória</ion-label>
                  <ion-radio value="287"></ion-radio>
                </ion-item>

            </ion-list>
        </ion-item-group>
      </ion-list>
      <div class="botoes">
        <button (click)="limpar()" ion-button>Limpar</button>
        <button (click)="filtrar()" ion-button>Filtrar</button>
      </div>
  </ion-list>
</ion-content>
