formacao4-4-2 {
    /* :::: FORMAÇÃO 4-4-2 :::: */

    div.formacao4-4-2{        
        position: relative;
        top: 30px;
        width: 288px;
        height: 402px;
        margin: 0 auto;
    }

    /* :::: ATAQUE :::: */

    div.formacao4-4-2 div.ataque{        
        position: relative;
        top: 10px;
        width: 100%;
        height: 80px;
    }    
    
    div.formacao4-4-2 div.ataque div{
        position: absolute;        
        width: 144px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }    

    div.formacao4-4-2 div.ataque div#posicao_1{
        left: 0;
    }

    div.formacao4-4-2 div.ataque div#posicao_2{
        left: 144px;
    }
    
    /* :::: MEIO :::: */

    div.formacao4-4-2 div.meio{        
        position: relative;
        top: 25px;
        width: 100%;
        height: 80px;
    }    
    
    div.formacao4-4-2 div.meio div{
        position: absolute;        
        width: 72px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }    

    div.formacao4-4-2 div.meio div#posicao_1{
        left: 0;
    }

    div.formacao4-4-2 div.meio div#posicao_2{
        left: 72px;
    }

    div.formacao4-4-2 div.meio div#posicao_3{
        left: 144px;
    }    

    div.formacao4-4-2 div.meio div#posicao_4{
        left: 216px;
    } 

    /* :::: LATERAL :::: */

    div.formacao4-4-2 div.lateral{        
        position: relative;
        top: 30px;
        width: 100%;
        height: 80px;
    }    
    
    div.formacao4-4-2 div.lateral div{
        position: absolute;        
        width: 72px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }    

    div.formacao4-4-2 div.lateral div#posicao_1{
        left: 0;
    }

    div.formacao4-4-2 div.lateral div#posicao_2{
        right: 0;
    }

    /* :::: ZAGUEIRO :::: */

    div.formacao4-4-2 div.zagueiro{        
        position: relative;
        top: 15px;
        width: 100%;
        height: 80px;
    }    
    
    div.formacao4-4-2 div.zagueiro div{
        position: absolute;        
        width: 96px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }    

    div.formacao4-4-2 div.zagueiro div#posicao_1{
        left: 48px;
    }

    div.formacao4-4-2 div.zagueiro div#posicao_2{
        right: 48px;
    }

    /* :::: GOLEIRO :::: */

    div.formacao4-4-2 div.goleiro{        
        position: relative;
        top: 5px;
        width: 96px;
        height: 70px;
        left: 96px;
    }    
    
    div.formacao4-4-2 div.goleiro div{
        position: absolute;        
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }  

    /* :::: TECNICO :::: */

    div.formacao4-4-2 div.tecnico{        
        position: relative;
        top: -53px;
        width: 96px;
        height: 70px;
        left: 0;
    }    
    
    div.formacao4-4-2 div.tecnico div{
        position: absolute;        
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    } 
}
