<form class="formacao4-3-3">
    <div class="ataque">
        <div *ngFor="let ataque of escalacao.ataque let i = index" id="posicao_{{ i }}">
            <label [ngClass]="capitaoClass" [for]="ataque?.atleta_id">
                <img [src]="capitao == ataque?.atleta_id ? './assets/imgs/capitao.png' : './assets/imgs/capitao_cinza.png'" class="capitao">
            </label>
            <img [ngClass]="ataque?.status_id && ataque?.status_id != 7 ? 'improvavel' : null" id="posicao_{{ i }}" [src]="(clubes[ataque?.clube_id]?.escudos['45x45'] || './assets/imgs/escudo-jogadores.png')"  (click)="seleciona(ataque, 5)">
            <span>{{ (ataque?.apelido || 'Apelido') }}</span> 
            <span>{{ 'C$ ' + ((ataque?.preco_num | number : '1.2-2') || '0.00') }}</span>
            <input type="radio" [id]="ataque?.atleta_id" name="capitao" (click)="selecionaCapitao(ataque?.atleta_id)"> 
        </div>
    </div>
    <div class="meio">
        <div *ngFor="let meio of escalacao.meio let i = index" id="posicao_{{ i }}" >
            <label [ngClass]="capitaoClass" [for]="meio?.atleta_id">
                <img [src]="capitao == meio?.atleta_id ? './assets/imgs/capitao.png' : './assets/imgs/capitao_cinza.png'" class="capitao">
            </label>
            <img [ngClass]="meio?.status_id && meio?.status_id != 7 ? 'improvavel' : null" id="posicao_{{ i }}" [src]="(clubes[meio?.clube_id]?.escudos['45x45'] || './assets/imgs/escudo-jogadores.png')" (click)="seleciona(meio, 4)">
            <span>{{ (meio?.apelido || 'Apelido') }}</span> 
            <span>{{ 'C$ ' + ((meio?.preco_num | number : '1.2-2') || '0.00') }}</span> 
            <input type="radio" [id]="meio?.atleta_id" name="capitao" name="capitao" (click)="selecionaCapitao(meio?.atleta_id)">
        </div>
    </div>
    <div class="lateral">
        <div *ngFor="let lateral of escalacao.lateral let i = index" id="posicao_{{ i }}">
            <label [ngClass]="capitaoClass" [for]="lateral?.atleta_id">
                <img [src]="capitao == lateral?.atleta_id ? './assets/imgs/capitao.png' : './assets/imgs/capitao_cinza.png'" class="capitao">
            </label>
            <img [ngClass]="lateral?.status_id && lateral?.status_id != 7 ? 'improvavel' : null" id="posicao_{{ i }}" [src]="(clubes[lateral?.clube_id]?.escudos['45x45'] || './assets/imgs/escudo-jogadores.png')" (click)="seleciona(lateral, 2)">
            <span>{{ (lateral?.apelido || 'Apelido') }}</span> 
            <span>{{ 'C$ ' + ((lateral?.preco_num | number : '1.2-2') || '0.00') }}</span> 
            <input type="radio" [id]="lateral?.atleta_id" name="capitao" name="capitao" (click)="selecionaCapitao(lateral?.atleta_id)">
        </div>            
    </div>
    <div class="zagueiro">
        <div *ngFor="let zagueiro of escalacao.zagueiro let i = index" id="posicao_{{ i }}">
            <label [ngClass]="capitaoClass" [for]="zagueiro?.atleta_id">
                <img [src]="capitao == zagueiro?.atleta_id ? './assets/imgs/capitao.png' : './assets/imgs/capitao_cinza.png'" class="capitao">
            </label>
            <img [ngClass]="zagueiro?.status_id && zagueiro?.status_id != 7 ? 'improvavel' : null" id="posicao_{{ i }}" [src]="(clubes[zagueiro?.clube_id]?.escudos['45x45'] || './assets/imgs/escudo-jogadores.png')" (click)="seleciona(zagueiro, 3)">
            <span>{{ (zagueiro?.apelido || 'Apelido') }}</span> 
            <span>{{ 'C$ ' + ((zagueiro?.preco_num | number : '1.2-2') || '0.00') }}</span>
            <input type="radio" [id]="zagueiro?.atleta_id" name="capitao" name="capitao" (click)="selecionaCapitao(zagueiro?.atleta_id)"> 
        </div>            
    </div>
    <div class="goleiro">
        <div *ngFor="let goleiro of escalacao.goleiro let i = index" id="posicao_{{ i }}">
            <label [ngClass]="capitaoClass" [for]="goleiro?.atleta_id">
                <img [src]="capitao == goleiro?.atleta_id ? './assets/imgs/capitao.png' : './assets/imgs/capitao_cinza.png'" class="capitao">
            </label>
            <img [ngClass]="goleiro?.status_id && goleiro?.status_id != 7 ? 'improvavel' : null" id="posicao_{{ i }}" [src]="(clubes[goleiro?.clube_id]?.escudos['45x45'] || './assets/imgs/escudo-jogadores.png')" (click)="seleciona(goleiro, 1)">
            <span>{{ (goleiro?.apelido || 'Apelido') }}</span> 
            <span>{{ 'C$ ' + ((goleiro?.preco_num | number : '1.2-2') || '0.00') }}</span>
            <input type="radio" [id]="goleiro?.atleta_id" name="capitao" name="capitao" (click)="selecionaCapitao(goleiro?.atleta_id)"> 
        </div>
    </div>        
    <div class="tecnico">
        <div *ngFor="let tecnico of escalacao.tecnico let i = index" id="posicao_{{ i }}">
            <img [ngClass]="tecnico?.status_id && tecnico?.status_id != 7 ? 'improvavel' : null" id="posicao_{{ i }}" [src]="(clubes[tecnico?.clube_id]?.escudos['45x45'] || './assets/imgs/escudo-jogadores.png')" (click)="seleciona(tecnico, 6)">
            <span>{{ (tecnico?.apelido || 'Apelido') }}</span> 
            <span>{{ 'C$ ' + ((tecnico?.preco_num | number : '1.2-2') || '0.00') }}</span>
        </div>
    </div>
</form>
