page-parciais-times {
    .item-md ion-avatar img{
        border-radius: 0 !important;
    }

    p.mensagem{
        display: block;
        padding: 50px 10px;
        color: #999999;
        text-align: center
    }

    .label-md {
        margin: 10px 8px 10px 0;
    }

    span{
        font-size: 0.8em;
    }

    .green{
        color: green;
    }

    .red{
        color: red;
    }
}
