page-tem-jogador {
    .item-md ion-avatar img{
        border-radius: 0 !important;
    }

   ion-header .item-md{
        padding-left: 0;
        font-size: 1em;
    }

    ion-list{
        margin-top: 10px !important;
    }

    div.pontuacao{
        padding: 10px 15px;
        border-bottom: solid thin #cccccc;
        display: flex;
        justify-content: space-between;
        color: #666666
    }

    .item-md ion-avatar img.end{
        margin-top: 7px;
        width: 25px !important;
        height: 25px !important;
    }

    .capitalize{
        text-transform: capitalize;
    }

    ion-header div{
        width: 80%;
    }

    ion-header img{
        width: 20%;
        height: 20%;
        margin: 5px 10px;
    }

    ion-header{
        display: flex;
        justify-content: space-between;
    }
}
